# Please install JAX and the appropriate backend for your hardware (CPU, GPU, TPU)
# before installing the rest of the requirements.
#
# For CPU: pip install "jax[cpu]"
# For GPU: pip install "jax[cuda]" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# For TPU: pip install "jax[tpu]" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html

absl-py==1.4.0
clu==0.0.9
flax==0.6.11
ml-collections==0.1.1
datasets
transformers
