# Please install JAX and the appropriate backend for your hardware (CPU, GPU, TPU)
# before installing the rest of the requirements.
#
# For CPU: pip install "jax[cpu]"
# For GPU: pip install "jax[cuda]" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# For TPU: pip install "jax[tpu]" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html

absl-py==1.4.0
clu==0.0.9
ml-collections==0.1.1
sentencepiece==0.1.99
tensorflow==2.13.0
tensorflow-datasets==4.9.2
tensorflow-text==2.13.0
datasets
transformers
